<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artist</key>
		<string>邓紫棋</string>
		<key>duration</key>
		<integer>239</integer>
		<key>fileName</key>
		<string>music01</string>
		<key>name</key>
		<string>G.E.M. 邓紫棋-喜欢你</string>
	</dict>
	<dict>
		<key>artist</key>
		<string>卡农</string>
		<key>duration</key>
		<integer>202</integer>
		<key>fileName</key>
		<string>music02</string>
		<key>name</key>
		<string>卡农</string>
	</dict>
</array>
</plist>
